/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.top-buffer {
  margin-top: 10px;
}

.left-buffer {
  margin-left: 10px;
}

.nav {
  position: absolute;
  top: 0;
}

.nav-link.active {
  border-bottom: 1px solid #777;
}

.clickable {
  cursor: pointer;
}


.btn {
  cursor: pointer;
}
